@import url('../../Styles/variables.css');

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f7;
}

.title {
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 30px;
}

/* Estilos dos botões na página inicial */
.buttons {
    display: flex;
    gap: 50px;
}

.buttonPrimary{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    
    & .iconButton {
        color: #a14523;
        width: 100px;
        height: 100px;
    }
}

/* Tooltip padrão (invisível) */
.tooltipButton {
    position: relative;
}

.tooltipButton::after {
    content: attr(data-tooltip); /* pega o texto do atributo */
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%) translateY(5px);
    background: rgba(0, 0, 0, 0.7);
    padding: 6px 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 6px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(2px);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

/* Quando passa o mouse */
.tooltipButton:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
/* ------------------------------------------------------------ */

/* Estilos do botão de logout no canto superior direito */
.buttonLogoutTop {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #9b3457;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    width: 45px;
    overflow: hidden;
    transition: width 0.3s ease, background 0.3s ease, transform 0.2s ease;
}

.iconLogout {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    transform: rotate(180deg);
}

.buttonLogoutTop:hover {
    width: 120px;
    background-color: #8d2e47;
    transform: scale(1.05);
}

/* Texto inicialmente invisível */
.logoutText {
    opacity: 0;
    white-space: nowrap;
    transform: translateX(-8px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.buttonLogoutTop:hover .logoutText {
    opacity: 1;
    transform: translateX(0);
}
/* ------------------------------------------------------------ */